<p>Dear {{userName}},</p>

<p>We regret to inform you that your application for the position of
  <strong>{{jobTitle}}</strong>
  at
  <strong>{{companyName}}</strong>
  has been rejected.</p>

<p>We appreciate your interest and effort and wish you success in your future endeavors.</p>

<p>Best regards,<br />{{companyName}} Team</p>